<h1></h1>
<div class="panel panel-default">
  <div class="panel-heading"><h4 class="panel-title">My Bookings</h4></div>

  <table class="table">
    <thead>
      <tr>
        <th>Hotel</th>
        <th>City</th>
        <th>Checkin date</th>
      </tr>
    </thead>

    <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.hotel %></td>
        <td><%= booking.city %></td>
        <td><%= booking.checkin.strftime('%b %d, %Y') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

